In [43]:
# instalo yfinance
!pip install yfinance

Requirement already satisfied: yfinance in /opt/conda/lib/python3.10/site-packages (0.2.20)
Requirement already satisfied: pandas>=1.3.0 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2.0.0)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.10/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.26 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2.28.2)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /opt/conda/lib/python3.10/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /opt/conda/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2023.3)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.10/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: cryptography>=3.3.2 in /opt/conda/lib/python3.10/site-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.10/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.10/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [44]:
# obtengo los datos de Tesla
import yfinance as yf
tsla = yf.Ticker('TSLA')
tsla.info

{'address1': '1 Tesla Road',
 'city': 'Austin',
 'state': 'TX',
 'zip': '78725',
 'country': 'United States',
 'phone': '512 516 8177',
 'website': 'https://www.tesla.com',
 'industry': 'Auto Manufacturers',
 'industryDisp': 'Auto Manufacturers',
 'sector': 'Consumer Cyclical',
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. It operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits; and non-warranty after-sales vehicle, used vehicles, retail merchandise, and vehicle insurance services. This segment also provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; purchase financing and leasing services; services for electric vehicles through its company-owned service locations and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners; and provision of service and repairs to its energy product customers, including under warranty, as well as various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was incorporated in 2003 and is headquartered in Austin, Texas.',
 'fullTimeEmployees': 127855,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Elon R. Musk',
   'age': 50,
   'title': 'Technoking of Tesla, CEO & Director',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 0,
   'exercisedValue': 0,
   'unexercisedValue': 27819718656},
  {'maxAge': 1,
   'name': 'Mr. Zachary John Planell Kirkhorn',
   'age': 36,
   'title': 'Master of Coin & CFO',
   'yearBorn': 1986,
   'fiscalYear': 2022,
   'totalPay': 303000,
   'exercisedValue': 1258505,
   'unexercisedValue': 205700880},
  {'maxAge': 1,
   'name': 'Mr. Andrew D. Baglino',
   'age': 41,
   'title': 'Sr. VP of Powertrain & Energy Engineering',
   'yearBorn': 1981,
   'fiscalYear': 2022,
   'totalPay': 303000,
   'exercisedValue': 33866368,
   'unexercisedValue': 57355632},
  {'maxAge': 1,
   'name': 'Mr. Vaibhav  Taneja',
   'age': 44,
   'title': 'Corp. Controller & Chief Accounting Officer',
   'yearBorn': 1978,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Martin  Viecha',
   'title': 'Sr. Director for Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Alan  Prescott',
   'age': 43,
   'title': 'VP of Legal',
   'yearBorn': 1979,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dave  Arnold',
   'title': 'Sr. Director of Global Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brian  Scelfo',
   'title': 'Sr. Director of Corp. Devel.',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey B. Straubel',
   'age': 46,
   'title': 'Independent Director',
   'yearBorn': 1976,
   'fiscalYear': 2018,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Franz  von Holzhausen',
   'title': 'Chief Designer',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 8,
 'boardRisk': 10,
 'compensationRisk': 8,
 'shareHolderRightsRisk': 9,
 'overallRisk': 9,
 'governanceEpochDate': 1685577600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 260.54,
 'open': 261.5,
 'dayLow': 261.12,
 'dayHigh': 273.85,
 'regularMarketPreviousClose': 260.54,
 'regularMarketOpen': 261.5,
 'regularMarketDayLow': 261.12,
 'regularMarketDayHigh': 273.85,
 'payoutRatio': 0.0,
 'beta': 2.004225,
 'trailingPE': 78.848465,
 'forwardPE': 56.413235,
 'volume': 150887602,
 'regularMarketVolume': 150887602,
 'averageVolume': 134619591,
 'averageVolume10days': 165917010,
 'averageDailyVolume10Day': 165917010,
 'bid': 272.57,
 'ask': 272.48,
 'bidSize': 1200,
 'askSize': 800,
 'marketCap': 867188473856,
 'fiftyTwoWeekLow': 101.81,
 'fiftyTwoWeekHigh': 314.66666,
 'priceToSalesTrailing12Months': 10.079485,
 'fiftyDayAverage': 190.0574,
 'twoHundredDayAverage': 195.79515,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'USD',
 'enterpriseValue': 810135650304,
 'profitMargins': 0.13658,
 'floatShares': 2709292276,
 'sharesOutstanding': 3169499904,
 'sharesShort': 91194312,
 'sharesShortPriorMonth': 95005307,
 'sharesShortPreviousMonthDate': 1682640000,
 'dateShortInterest': 1685491200,
 'sharesPercentSharesOut': 0.028800001,
 'heldPercentInsiders': 0.1306,
 'heldPercentInstitutions': 0.44891,
 'shortRatio': 0.75,
 'shortPercentOfFloat': 0.033099998,
 'impliedSharesOutstanding': 0,
 'bookValue': 15.164,
 'priceToBook': 18.043009,
 'lastFiscalYearEnd': 1672444800,
 'nextFiscalYearEnd': 1703980800,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': -0.243,
 'netIncomeToCommon': 11788000256,
 'trailingEps': 3.47,
 'forwardEps': 4.85,
 'pegRatio': 7.06,
 'lastSplitFactor': '3:1',
 'lastSplitDate': 1661385600,
 'enterpriseToRevenue': 9.416,
 'enterpriseToEbitda': 48.61,
 '52WeekChange': 0.09915483,
 'SandP52WeekChange': 0.1712712,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'underlyingSymbol': 'TSLA',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'firstTradeDateEpochUtc': 1277818200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'ec367bc4-f92c-397c-ac81-bf7b43cffaf7',
 'messageBoardId': 'finmb_27444752',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 273.6042,
 'targetHighPrice': 335.0,
 'targetLowPrice': 24.33,
 'targetMeanPrice': 194.84,
 'targetMedianPrice': 200.0,
 'recommendationMean': 2.5,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 35,
 'totalCash': 22402000896,
 'totalCashPerShare': 7.068,
 'ebitda': 16666000384,
 'totalDebt': 5574000128,
 'quickRatio': 0.932,
 'currentRatio': 1.567,
 'totalRevenue': 86034997248,
 'debtToEquity': 11.321,
 'revenuePerShare': 27.35,
 'returnOnAssets': 0.10428,
 'returnOnEquity': 0.27991,
 'grossProfits': 20853000000,
 'freeCashflow': 2448250112,
 'operatingCashflow': 13242000384,
 'earningsGrowth': -0.232,
 'revenueGrowth': 0.244,
 'grossMargins': 0.23135,
 'ebitdaMargins': 0.19371,
 'operatingMargins': 0.14823,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.8806}

In [45]:
# obtengo datos
cmp = yf.Ticker('TSLA')
hist = cmp.history(period="1y")
hist['Date']=hist.index
hist=hist.reset_index(drop=True)
hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          251 non-null    float64
 1   High          251 non-null    float64
 2   Low           251 non-null    float64
 3   Close         251 non-null    float64
 4   Volume        251 non-null    int64
 5   Dividends     251 non-null    float64
 6   Stock Splits  251 non-null    float64
 7   Date          251 non-null    datetime64[ns, America/New_York]
dtypes: datetime64[ns, America/New_York](1), float64(6), int64(1)
memory usage: 15.8 KB

In [46]:

hist.head(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date
0,224.603333,243.576660,224.333328,237.036667,122793000,0.0,0.0,2022-06-21 00:00:00-04:00
1,234.503326,246.833328,233.826660,236.086670,101107500,0.0,0.0,2022-06-22 00:00:00-04:00
2,237.906662,239.316666,228.636673,235.070007,104202600,0.0,0.0,2022-06-23 00:00:00-04:00
3,237.470001,246.066666,236.086670,245.706665,95770800,0.0,0.0,2022-06-24 00:00:00-04:00
4,249.366669,252.070007,242.566666,244.919998,89178300,0.0,0.0,2022-06-27 00:00:00-04:00

In [47]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.10/site-packages (2.9.6)

In [48]:
# creo una sesion de Spark
import os
import psycopg2

from pyspark.sql import SparkSession
from pyspark.sql.functions import when, lit, col

# driver
driver_path = "/home/coder/working_dir/driver_jdbc/postgresql-42.2.27.jre7.jar"

os.environ['PYSPARK_SUBMIT_ARGS'] = f'--driver-class-path {driver_path} --jars {driver_path} pyspark-shell'
os.environ['SPARK_CLASSPATH'] = driver_path

# Create SparkSession 
spark = SparkSession.builder \
        .master("local") \
        .appName("Conexion entre Pyspark y Redshift") \
        .config("spark.jars", driver_path) \
        .config("spark.executor.extraClassPath", driver_path) \
        .getOrCreate()

env = os.environ

In [49]:
spark

In [86]:
# conecto a Redshift con psycopg2



conn = psycopg2.connect(
    host=env['AWS_REDSHIFT_HOST'],
    port=env['AWS_REDSHIFT_PORT'],
    dbname=env['AWS_REDSHIFT_DBNAME'],
    user=env['AWS_REDSHIFT_USER'],
    password=env['AWS_REDSHIFT_PASSWORD']
)

# creo la tabla
table_name='entregable2_tsla'
cursor = conn.cursor()
cursor.execute(f"""drop table if exists {env['AWS_REDSHIFT_USER']}.{table_name}""")
conn.commit()
create_query=f"""CREATE TABLE IF NOT EXISTS {env['AWS_REDSHIFT_USER']}.{table_name}
    (openn numeric(10,2) 
    ,high numeric(10,2)
    ,low numeric(10,2)
    ,close  numeric(10,2) 
    ,date TIMESTAMP WITHOUT TIME ZONE distkey
    ,difference numeric(10,2)) sortkey(date);"""
cursor.execute(create_query)
conn.commit()

# verifico si se creo la tabla
ctrl_query=f"""SELECT distinct tablename FROM PG_TABLE_DEF WHERE schemaname = '{env['AWS_REDSHIFT_SCHEMA']}' and tablename = '{table_name}';"""
cursor.execute(ctrl_query)
tabla = cursor.fetchall()
if table_name == tabla[0][0]:
    print("Tabla creada!")
else:               
    print("Error al crear la tabla.")
cursor.close()
conn.close()

Tabla creada!

In [81]:
# creo un dataframe 
df = spark.createDataFrame(hist, ['Open','High','low','close','v','d','s','date'])

# selecciono las columnas
df = df.select('Open','High','low','close','date')
df = df.withColumn('Difference', col('close') - col('Open'))

df.printSchema()
df.describe().show()
df.show()

root
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- Difference: double (nullable = true)

+-------+-----------------+-----------------+------------------+------------------+-------------------+
|summary|             Open|             High|               low|             close|         Difference|
+-------+-----------------+-----------------+------------------+------------------+-------------------+
|  count|              251|              251|               251|               251|                251|
|   mean|210.4869188407503|215.3294553414759| 205.4621510296704|210.56319406213038|0.07627522138010458|
| stddev|51.34241739858609|52.04538847697913| 50.69535532742428| 51.35121647917801|  6.531008409968428|
|    min|            103.0|           111.75|101.80999755859375| 108.0999984741211|-19.019989013671875|
|    max|311.6666564941406|314.6666564941406| 305.5799865722656|309.32000732421875|  17.30999755859375|
+-------+-----------------+-----------------+------------------+------------------+-------------------+

+------------------+------------------+------------------+------------------+-------------------+-------------------+
|              Open|              High|               low|             close|               date|         Difference|
+------------------+------------------+------------------+------------------+-------------------+-------------------+
|224.60333251953125|   243.57666015625| 224.3333282470703| 237.0366668701172|2022-06-21 04:00:00| 12.433334350585938|
|234.50332641601562| 246.8333282470703|   233.82666015625|  236.086669921875|2022-06-22 04:00:00|  1.583343505859375|
| 237.9066619873047|239.31666564941406| 228.6366729736328|235.07000732421875|2022-06-23 04:00:00|-2.8366546630859375|
|237.47000122070312|246.06666564941406|  236.086669921875| 245.7066650390625|2022-06-24 04:00:00|  8.236663818359375|
|249.36666870117188|252.07000732421875|242.56666564941406| 244.9199981689453|2022-06-27 04:00:00|-4.4466705322265625|
|244.48333740234375|249.97000122070312| 232.3433380126953|  232.663330078125|2022-06-28 04:00:00| -11.82000732421875|
|             230.5|   231.17333984375|222.27333068847656|228.49000549316406|2022-06-29 04:00:00|-2.0099945068359375|
|224.50999450683594| 229.4566650390625| 218.8633270263672|224.47332763671875|2022-06-30 04:00:00|-0.0366668701171875|
|             227.0|230.22999572753906| 222.1199951171875|227.26333618164062|2022-07-01 04:00:00|  0.263336181640625|
|             223.0|233.14666748046875| 216.1666717529297|233.06666564941406|2022-07-05 04:00:00| 10.066665649414062|
|230.77999877929688|234.56333923339844|227.18666076660156|231.73333740234375|2022-07-06 04:00:00|  0.953338623046875|
| 233.9199981689453| 245.3633270263672| 232.2100067138672| 244.5433349609375|2022-07-07 04:00:00| 10.623336791992188|
| 242.3333282470703|254.97999572753906|241.16000366210938|250.76333618164062|2022-07-08 04:00:00|  8.430007934570312|
|252.10333251953125|253.06333923339844| 233.6266632080078| 234.3433380126953|2022-07-11 04:00:00|-17.759994506835938|
|236.84666442871094|239.77333068847656| 228.3699951171875|233.07000732421875|2022-07-12 04:00:00|-3.7766571044921875|
|             225.5|242.05999755859375|225.03334045410156| 237.0399932861328|2022-07-13 04:00:00| 11.539993286132812|
|234.89666748046875|238.65333557128906| 229.3333282470703|238.31333923339844|2022-07-14 04:00:00| 3.4166717529296875|
|             240.0| 243.6233367919922|236.88999938964844|240.06666564941406|2022-07-15 04:00:00| 0.0666656494140625|
|244.93666076660156|250.51666259765625|239.60333251953125|240.54666137695312|2022-07-18 04:00:00|-4.3899993896484375|
|             245.0|247.13999938964844|236.97666931152344|245.52999877929688|2022-07-19 04:00:00|  0.529998779296875|
+------------------+------------------+------------------+------------------+-------------------+-------------------+
only showing top 20 rows

In [87]:
# doy formato a las columnas
from pyspark.sql.types import DecimalType

df=df.withColumn("Open", df["Open"].cast(DecimalType(precision=10, scale=2)))
df=df.withColumn("High", df["High"].cast(DecimalType(precision=10, scale=2)))
df=df.withColumn("low", df["low"].cast(DecimalType(precision=10, scale=2)))
df=df.withColumn("close", df["close"].cast(DecimalType(precision=10, scale=2)))
df=df.withColumn("Difference", df["Difference"].cast(DecimalType(precision=10, scale=2)))

# cambio el nombre de la columna open
df=df.withColumnRenamed("Open", "openn")

df.printSchema()
df.show()
df.count()

root
 |-- openn: decimal(10,2) (nullable = true)
 |-- High: decimal(10,2) (nullable = true)
 |-- low: decimal(10,2) (nullable = true)
 |-- close: decimal(10,2) (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- Difference: decimal(10,2) (nullable = true)

+------+------+------+------+-------------------+----------+
| openn|  High|   low| close|               date|Difference|
+------+------+------+------+-------------------+----------+
|224.60|243.58|224.33|237.04|2022-06-21 04:00:00|     12.43|
|234.50|246.83|233.83|236.09|2022-06-22 04:00:00|      1.58|
|237.91|239.32|228.64|235.07|2022-06-23 04:00:00|     -2.84|
|237.47|246.07|236.09|245.71|2022-06-24 04:00:00|      8.24|
|249.37|252.07|242.57|244.92|2022-06-27 04:00:00|     -4.45|
|244.48|249.97|232.34|232.66|2022-06-28 04:00:00|    -11.82|
|230.50|231.17|222.27|228.49|2022-06-29 04:00:00|     -2.01|
|224.51|229.46|218.86|224.47|2022-06-30 04:00:00|     -0.04|
|227.00|230.23|222.12|227.26|2022-07-01 04:00:00|      0.26|
|223.00|233.15|216.17|233.07|2022-07-05 04:00:00|     10.07|
|230.78|234.56|227.19|231.73|2022-07-06 04:00:00|      0.95|
|233.92|245.36|232.21|244.54|2022-07-07 04:00:00|     10.62|
|242.33|254.98|241.16|250.76|2022-07-08 04:00:00|      8.43|
|252.10|253.06|233.63|234.34|2022-07-11 04:00:00|    -17.76|
|236.85|239.77|228.37|233.07|2022-07-12 04:00:00|     -3.78|
|225.50|242.06|225.03|237.04|2022-07-13 04:00:00|     11.54|
|234.90|238.65|229.33|238.31|2022-07-14 04:00:00|      3.42|
|240.00|243.62|236.89|240.07|2022-07-15 04:00:00|      0.07|
|244.94|250.52|239.60|240.55|2022-07-18 04:00:00|     -4.39|
|245.00|247.14|236.98|245.53|2022-07-19 04:00:00|      0.53|
+------+------+------+------+-------------------+----------+
only showing top 20 rows

251

In [88]:
# elimino las ocurrencias duplicadas
from pyspark.sql.functions import col
dfo=df.dropDuplicates(["date"])
dfo.count()

251

In [89]:
# guardo los datos en la tabla
df.write.format('jdbc') \
    .option("url", f"jdbc:postgresql://{env['AWS_REDSHIFT_HOST']}:{env['AWS_REDSHIFT_PORT']}/{env['AWS_REDSHIFT_DBNAME']}") \
    .option("dbtable", f"{env['AWS_REDSHIFT_SCHEMA']}.{table_name}") \
    .option("user", env['AWS_REDSHIFT_USER']) \
    .option("password", env['AWS_REDSHIFT_PASSWORD']) \
    .option("driver", "org.postgresql.Driver") \
    .mode("append") \
    .save()

In [90]:
# verifico los datos guardados 
query = f"select * from {env['AWS_REDSHIFT_SCHEMA']}.{table_name}"
df_db = spark.read \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{env['AWS_REDSHIFT_HOST']}:{env['AWS_REDSHIFT_PORT']}/{env['AWS_REDSHIFT_DBNAME']}") \
    .option("dbtable", f"({query}) as t1") \
    .option("user", env['AWS_REDSHIFT_USER']) \
    .option("password", env['AWS_REDSHIFT_PASSWORD']) \
    .option("driver", "org.postgresql.Driver") \
    .load()

In [91]:
# verifico el formato de los datos guardados

df_db.printSchema()
df_db.show()
df_db.count()

root
 |-- openn: decimal(10,2) (nullable = true)
 |-- high: decimal(10,2) (nullable = true)
 |-- low: decimal(10,2) (nullable = true)
 |-- close: decimal(10,2) (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- difference: decimal(10,2) (nullable = true)

+------+------+------+------+-------------------+----------+
| openn|  high|   low| close|               date|difference|
+------+------+------+------+-------------------+----------+
|224.51|229.46|218.86|224.47|2022-06-30 04:00:00|     -0.04|
|233.92|245.36|232.21|244.54|2022-07-07 04:00:00|     10.62|
|242.33|254.98|241.16|250.76|2022-07-08 04:00:00|      8.43|
|252.10|253.06|233.63|234.34|2022-07-11 04:00:00|    -17.76|
|225.50|242.06|225.03|237.04|2022-07-13 04:00:00|     11.54|
|240.00|243.62|236.89|240.07|2022-07-15 04:00:00|      0.07|
|244.94|250.52|239.60|240.55|2022-07-18 04:00:00|     -4.39|
|245.00|247.14|236.98|245.53|2022-07-19 04:00:00|      0.53|
|276.22|280.79|270.71|272.24|2022-07-22 04:00:00|     -3.98|
|272.22|274.15|267.40|268.43|2022-07-25 04:00:00|     -3.78|
|266.51|267.31|256.26|258.86|2022-07-26 04:00:00|     -7.65|
|263.81|275.93|261.79|274.82|2022-07-27 04:00:00|     11.01|
|280.07|283.30|272.80|280.90|2022-07-28 04:00:00|      0.83|
|294.00|307.83|292.67|300.59|2022-08-02 04:00:00|      6.58|
|311.00|313.61|305.00|308.63|2022-08-04 04:00:00|     -2.37|
|290.29|292.40|279.35|283.33|2022-08-09 04:00:00|     -6.96|
|289.42|300.16|285.03|300.03|2022-08-12 04:00:00|     10.61|
|306.00|306.50|301.85|302.87|2022-08-18 04:00:00|     -3.13|
|299.00|300.36|292.50|296.67|2022-08-19 04:00:00|     -2.33|
|302.36|302.96|291.60|296.07|2022-08-25 04:00:00|     -6.29|
+------+------+------+------+-------------------+----------+
only showing top 20 rows

251